<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net47" />
  <package id="Cyotek.Drawing.BitmapFont" version="1.3.4" targetFramework="net47" />
  <package id="DryIoc" version="3.0.2" targetFramework="net47" />
  <package id="DryIoc.CommonServiceLocator.dll" version="3.0.0" targetFramework="net47" />
  <package id="DryIoc.dll" version="3.0.2" targetFramework="net47" />
  <package id="HelixToolkit" version="2.3.0" targetFramework="net47" />
  <package id="HelixToolkit.Wpf.SharpDX" version="2.3.0" targetFramework="net47" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net47" />
  <package id="Prism.DryIoc" version="6.3.0" targetFramework="net47" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net47" />
  <package id="SharpDX" version="4.1.0" targetFramework="net47" />
  <package id="SharpDX.D3DCompiler" version="4.1.0" targetFramework="net47" />
  <package id="SharpDX.Direct2D1" version="4.1.0" targetFramework="net47" />
  <package id="SharpDX.Direct3D11" version="4.1.0" targetFramework="net47" />
  <package id="SharpDX.Direct3D9" version="4.1.0" targetFramework="net47" />
  <package id="SharpDX.DXGI" version="4.1.0" targetFramework="net47" />
  <package id="SharpDX.Mathematics" version="4.1.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net47" />
</packages>