<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net47" />
  <package id="DryIoc" version="3.0.2" targetFramework="net47" />
  <package id="DryIoc.CommonServiceLocator.dll" version="3.0.0" targetFramework="net47" />
  <package id="DryIoc.dll" version="3.0.2" targetFramework="net47" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net47" />
  <package id="Prism.DryIoc" version="6.3.0" targetFramework="net47" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net47" />
</packages>