<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CapFrameX.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CapFrameX.Configuration.Properties.Settings>
      <setting name="MovingAverageWindowSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="IntervalAverageWindowTime" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="StutteringFactor" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="ObservedDirectory" serializeAs="String">
        <value>MyDocuments\CapFrameX\Captures</value>
      </setting>
      <setting name="FpsValuesRoundingDigits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowLowParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenshotDirectory" serializeAs="String">
        <value>MyDocuments\CapFrameX\Screenshots</value>
      </setting>
      <setting name="UseSingleRecordMaxStatisticParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSingleRecordP99QuantileStatisticParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSingleRecordP95QuantileStatisticParameter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSingleRecordAverageStatisticParameter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSingleRecordP5QuantileStatisticParameter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSingleRecordP1QuantileStatisticParameter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSingleRecordP0Dot1QuantileStatisticParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSingleRecordP1LowAverageStatisticParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSingleRecordP0Dot1LowAverageStatisticParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSingleRecordMinStatisticParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSingleRecordAdaptiveSTDStatisticParameter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureHotKey" serializeAs="String">
        <value>F11</value>
      </setting>
      <setting name="HotkeySoundMode" serializeAs="String">
        <value>voice response</value>
      </setting>
      <setting name="CaptureTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseSingleRecordP0Dot2QuantileStatisticParameter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VoiceSoundLevel" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="SimpleSoundLevel" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="SecondMetric" serializeAs="String">
        <value>P1</value>
      </setting>
      <setting name="ThirdMetric" serializeAs="String">
        <value>P0dot2</value>
      </setting>
      <setting name="ComparisonContext" serializeAs="String">
        <value>CPU</value>
      </setting>
      <setting name="RecordingListSortMemberPath" serializeAs="String">
        <value>GameName</value>
      </setting>
      <setting name="RecordingListSortDirection" serializeAs="String">
        <value>Ascending</value>
      </setting>
      <setting name="SyncRangeLower" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="SyncRangeUpper" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="ShowOutlierWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HardwareInfoSource" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="CustomCpuDescription" serializeAs="String">
        <value>CPU</value>
      </setting>
      <setting name="CustomGpuDescription" serializeAs="String">
        <value>GPU</value>
      </setting>
      <setting name="CustomRamDescription" serializeAs="String">
        <value>RAM</value>
      </setting>
      <setting name="OverlayHotKey" serializeAs="String">
        <value>Alt+O</value>
      </setting>
      <setting name="IsOverlayActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ResetHistoryHotkey" serializeAs="String">
        <value>Alt+R</value>
      </setting>
      <setting name="UseRunHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SecondMetricOverlay" serializeAs="String">
        <value>P1</value>
      </setting>
      <setting name="ThirdMetricOverlay" serializeAs="String">
        <value>P0dot2</value>
      </setting>
      <setting name="UseAggregation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedHistoryRuns" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OutlierHandling" serializeAs="String">
        <value>Replace</value>
      </setting>
      <setting name="OSDRefreshPeriod" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="OutlierPercentageOverlay" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RelatedMetricOverlay" serializeAs="String">
        <value>Second</value>
      </setting>
      <setting name="InputLagOffset" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SecondMetricAggregation" serializeAs="String">
        <value>P1</value>
      </setting>
      <setting name="ThirdMetricAggregation" serializeAs="String">
        <value>P0dot2</value>
      </setting>
      <setting name="RelatedMetricAggregation" serializeAs="String">
        <value>Second</value>
      </setting>
      <setting name="OutlierPercentageAggregation" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AreThresholdsReversed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloudDownloadDirectory" serializeAs="String">
        <value>MyDocuments\CapFrameX\Captures\Cloud</value>
      </setting>
      <setting name="CaptureRootDirectory" serializeAs="String">
        <value>MyDocuments\CapFrameX\Captures</value>
      </setting>
      <setting name="ShareProcessListEntries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdateProcessList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSensorLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AreThresholdsPercentage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverlayEntryConfigurationFile" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SensorLoggingRefreshPeriod" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="ShowThresholdTimes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveAggregationOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSingleRecordMedianStatisticParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SecondComparisonContext" serializeAs="String">
        <value>GPU</value>
      </setting>
      <setting name="CaptureFileMode" serializeAs="String">
        <value>Json</value>
      </setting>
      <setting name="UseSingleRecordCpuFpsPerWattParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSingleRecordGpuFpsPerWattParameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Autostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstMetric" serializeAs="String">
        <value>Average</value>
      </setting>
      <setting name="IsGpuAccelerationActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StutteringThreshold" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="OverlayConfigHotKey" serializeAs="String">
        <value>Alt+C</value>
      </setting>
      <setting name="AutoDisableOverlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToggleGlobalRTSSOSD" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HorizontalGraphExportRes" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="VerticalGraphExportRes" serializeAs="String">
        <value>600</value>
      </setting>
    </CapFrameX.Configuration.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
