<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CapFrameX.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CapFrameX.Configuration.Properties.Settings>
            <setting name="MovingAverageWindowSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="StutteringFactor" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="ObservedDirectory" serializeAs="String">
                <value>MyDocuments\CapFrameX\Captures</value>
            </setting>
            <setting name="FpsValuesRoundingDigits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowLowParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenshotDirectory" serializeAs="String">
                <value>MyDocuments\CapFrameX\Screenshots</value>
            </setting>
            <setting name="UseSingleRecordMaxStatisticParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSingleRecordP99QuantileStatisticParameter"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSingleRecordP95QuantileStatisticParameter"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSingleRecordAverageStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSingleRecordP5QuantileStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSingleRecordP1QuantileStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSingleRecordP0Dot1QuantileStatisticParameter"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSingleRecordP1LowAverageStatisticParameter"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSingleRecordP0Dot1LowAverageStatisticParameter"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSingleRecordMinStatisticParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSingleRecordAdaptiveSTDStatisticParameter"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureHotKey" serializeAs="String">
                <value>F12</value>
            </setting>
            <setting name="HotkeySoundMode" serializeAs="String">
                <value>voice response</value>
            </setting>
            <setting name="CaptureTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSingleRecordP0Dot2QuantileStatisticParameter"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceSoundLevel" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="SimpleSoundLevel" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SecondaryMetric" serializeAs="String">
                <value>P1</value>
            </setting>
            <setting name="ComparisonContext" serializeAs="String">
                <value>DateTime</value>
            </setting>
            <setting name="RecordingListSortMemberPath" serializeAs="String">
                <value>GameName</value>
            </setting>
            <setting name="RecordingListSortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
        </CapFrameX.Configuration.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
