#include <winver.h>

#define CAPFRAMEX_STRINGIZE_INNER(value) #value
#define CAPFRAMEX_STRINGIZE(value) CAPFRAMEX_STRINGIZE_INNER(value)
#define CAPFRAMEX_VERSION_STRING \
    CAPFRAMEX_STRINGIZE(CAPFRAMEX_VERSION_MAJOR) "." \
    CAPFRAMEX_STRINGIZE(CAPFRAMEX_VERSION_MINOR) "." \
    CAPFRAMEX_STRINGIZE(CAPFRAMEX_VERSION_PATCH) "." \
    CAPFRAMEX_STRINGIZE(CAPFRAMEX_VERSION_REVISION)

#if CAPFRAMEX_IS_BETA
#define CAPFRAMEX_PRODUCT_VERSION_STRING CAPFRAMEX_VERSION_STRING "-beta"
#else
#define CAPFRAMEX_PRODUCT_VERSION_STRING CAPFRAMEX_VERSION_STRING
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION CAPFRAMEX_VERSION_MAJOR,CAPFRAMEX_VERSION_MINOR,CAPFRAMEX_VERSION_PATCH,CAPFRAMEX_VERSION_REVISION
 PRODUCTVERSION CAPFRAMEX_VERSION_MAJOR,CAPFRAMEX_VERSION_MINOR,CAPFRAMEX_VERSION_PATCH,CAPFRAMEX_VERSION_REVISION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "CapFrameX and Contributors\0"
            VALUE "FileDescription", "CapFrameX AMD ADLX bridge\0"
            VALUE "FileVersion", CAPFRAMEX_VERSION_STRING "\0"
            VALUE "InternalName", "CapFrameX.ADLX.dll\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 CapFrameX and Contributors\0"
            VALUE "OriginalFilename", "CapFrameX.ADLX.dll\0"
            VALUE "ProductName", "CapFrameX\0"
            VALUE "ProductVersion", CAPFRAMEX_PRODUCT_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
