<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="WebserviceUri" value="https://capframex.com/api/" />
    <add key="OAuthClientId" value="application" />
    <add key="OAuthClientSecret" value="13e2d80b-32e7-4d48-b2fe-29c44bca7958" />
    <add key="OAuthAuthorizationEndpoint" value="https://capframex.com/auth/realms/CapFrameX/protocol/openid-connect/auth" />
    <add key="OAuthTokenEndpoint" value="https://capframex.com/auth/realms/CapFrameX/protocol/openid-connect/token" />
    <add key="ManageProfilePageUrl" value="https://capframex.com/auth/realms/CapFrameX/account" />
    <add key="OAuthUserinfoEndpoint" value="https://capframex.com/auth/realms/CapFrameX/protocol/openid-connect/userinfo" />
    <add key="ContactFormUriTemplate" value="https://capframex.com/support?openform=true&amp;subject={0}&amp;message={1}&amp;email={2}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>