<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CapFrameX.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CapFrameX.Configuration.Properties.Settings>
            <setting name="MovingAverageWindowSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="StutteringFactor" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="ObservedDirectory" serializeAs="String">
                <value>MyDocuments\OCAT\Captures</value>
            </setting>
            <setting name="ChartQualityLevel" serializeAs="String">
                <value>High</value>
            </setting>
            <setting name="FpsValuesRoundingDigits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RecordDataGridIgnoreList" serializeAs="String">
                <value>CapFrameX; SearchUI; ShellExperienceHost; steamwebhelper</value>
            </setting>
            <setting name="ShowLowParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenshotDirectory" serializeAs="String">
                <value>MyDocuments\OCAT\Screenshots</value>
            </setting>
            <setting name="UseMaxStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseP99QuantileStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseP95QuantileStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAverageStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseP5QuantileStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseP1QuantileStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseP0Dot1QuantileStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseP1LowAverageStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseP0Dot1LowAverageStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMinStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAdaptiveSTDStatisticParameter" serializeAs="String">
                <value>True</value>
            </setting>
        </CapFrameX.Configuration.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
