<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp8ACAADD5757BD9E933B8004451F42808" Guid="*" Win64="yes">
                <File Id="fil1D123DA33C13D338799627CD54B199E4" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.Configuration.dll" />
            </Component>
            
            
            <Component Id="cmpA4C1EAD31D80CA7A469C61E5F7BF0BE7" Guid="*" Win64="yes">
                <File Id="filC5232FFF55D7F9A2D288A591C3B2723E" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.Contracts.dll" />
            </Component>
            
            <Component Id="cmpBB82F84010B18BD471718A8F5192D809" Guid="*" Win64="yes">
                <File Id="filF1AAE3D99497A2F202666A8EBE6BD1BE" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.Data.dll" />
            </Component>
            
            <Component Id="cmp7C9CAFF9FE2A171191AA280A316C5B90" Guid="*" Win64="yes">
                <File Id="filE854C05B7FCBEF9D80C9CD3447FD3B5E" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.EventAggregation.dll" />
            </Component>
            
            <Component Id="cmp82AD45B10466B02AA709E58F5BE28DFA" Guid="*" Win64="yes">
                <File Id="fil728C156E08C89BB8D6F48ADCA3FDB05E" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.exe" />
            </Component>
            <Component Id="cmp2E59BC59B11729E95EB8C057C580BD11" Guid="*" Win64="yes">
                <File Id="fil4AD54877443A07448E8AA586A7801495" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.exe.config" />
            </Component>
            <Component Id="cmp197CCAFDD9C330A4C91CAF35F0619382" Guid="*" Win64="yes">
                <File Id="fil3C5B48255A95C26C6661A866ABBA9A94" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.Extensions.dll" />
            </Component>
            
            <Component Id="cmpC53D77F304B4523D70934DE3AA929A1B" Guid="*" Win64="yes">
                <File Id="fil8AC734A3084D24BF22E7B1C315F35D80" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.Hotkey.dll" />
            </Component>
            
            <Component Id="cmp6AE09C2CACB08476BEF8E2E045F01AF5" Guid="*" Win64="yes">
                <File Id="fil970CA0EB49AC8565BFF0E023FC623052" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.MVVM.dll" />
            </Component>
            
            <Component Id="cmp4A1120ACC7AB1F1C62A70428177CC16C" Guid="*" Win64="yes">
                <File Id="filA94E134DD2F414A189752458876EE960" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.Overlay.dll" />
            </Component>
            
            
            
            <Component Id="cmpDAC9A06508E623C2AE90DDABDC991D5D" Guid="*" Win64="yes">
                <File Id="fil2C243491DA37F20C87730E667020244F" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.PresentMonInterface.dll" />
            </Component>
            
            <Component Id="cmp458D149F66896C1582130F4DAD13BA4A" Guid="*" Win64="yes">
                <File Id="filDCAA7F5E2641CD0410CFA60223C12402" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.RTSSInterface.dll" />
            </Component>
            
            <Component Id="cmp0FB30BFBF10002FEB8B1F262B927DE5E" Guid="*" Win64="yes">
                <File Id="fil60A491409F9FE309FF63B17A92C963ED" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.Statistics.dll" />
            </Component>
            
            <Component Id="cmpF4AA3050A716E6F54BB951C2FD2122DC" Guid="*" Win64="yes">
                <File Id="fil5F66D1BA3F0735980723B32E1A79E0B1" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.Updater.dll" />
            </Component>
            
            <Component Id="cmp18FAC930D57ECB5DA84BC4EF8F1FF236" Guid="*" Win64="yes">
                <File Id="fil5A22FA3F9BADD87BBA07D3CFC2BB585C" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.View.dll" />
            </Component>
            
            
            <Component Id="cmpFEE96F5622FF620341562487C27BDBFE" Guid="*" Win64="yes">
                <File Id="fil066CBEBC4329275FC279128989451D13" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\CapFrameX.ViewModel.dll" />
            </Component>
            
            
            <Component Id="cmp9110E4565D76564E9BC2F34625854902" Guid="*" Win64="yes">
                <File Id="filAC751AB8116CEF372F8CFDA54B395D08" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\ControlzEx.dll" />
            </Component>
            
            <Component Id="cmp471A60C7DB0BF5428D9A6BE2EF6D9976" Guid="*" Win64="yes">
                <File Id="fil797E40D765838013F75C84F3A45F3E4D" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Cyotek.Drawing.BitmapFont.dll" />
            </Component>
            
            <Component Id="cmpB54AA7145F7DD7C9F4F5BCED9FE3DD87" Guid="*" Win64="yes">
                <File Id="fil8FE76221CE9B2192BFCA7754455FE6D0" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\DryIoc.CommonServiceLocator.dll" />
            </Component>
            
            <Component Id="cmp3A3DCB2CB767F63098FA411AE7BB90A7" Guid="*" Win64="yes">
                <File Id="filC88A84AAA7679BB1CC51240EFA2EB406" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\DryIoc.dll" />
            </Component>
            
            <Component Id="cmpFDA802159822E5F335299869D8F57A96" Guid="*" Win64="yes">
                <File Id="fil4D5F85087EDF31C493CBC20A757D0BEE" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Gma.System.MouseKeyHook.dll" />
            </Component>
            <Component Id="cmp781EEA928029B571EC5B4E7090BD7946" Guid="*" Win64="yes">
                <File Id="fil093D81EF2D0F558E4AF6DBB696C8B611" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\GongSolutions.Wpf.DragDrop.dll" />
            </Component>
            
            
            <Component Id="cmp12963553D08F263C4D654B75222572D0" Guid="*" Win64="yes">
                <File Id="fil8368C9650D7ED77FEA2F26A8C9F1A8D6" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Jot.dll" />
            </Component>
            <Component Id="cmp60805430DA62A620ADC712537D30F06A" Guid="*" Win64="yes">
                <File Id="filDB1D736833CDA4D30509594A7B6D0162" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\LiveCharts.dll" />
            </Component>
            
            <Component Id="cmpB80EB57EF2904D1A74E508B15C150404" Guid="*" Win64="yes">
                <File Id="filCBE997A6CD849E4DF004F21120DE6B94" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\LiveCharts.Wpf.dll" />
            </Component>
            
            <Component Id="cmp223D4754378C01052DA8253A843FD297" Guid="*" Win64="yes">
                <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\MahApps.Metro.dll" />
            </Component>
            
            
            <Component Id="cmpF79A41B26948F126556619AD15586E53" Guid="*" Win64="yes">
                <File Id="filD65CB2C411B671E247C0C842FF9ED3FA" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\MaterialDesignColors.dll" />
            </Component>
            
            <Component Id="cmpBDFFFC10BC54483342036800228711F3" Guid="*" Win64="yes">
                <File Id="fil100896E49F4BD890D9C73FF2C805FF08" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\MaterialDesignThemes.MahApps.dll" />
            </Component>
            <Component Id="cmp6D59DB1C8695088F09FD7F0B07ECD487" Guid="*" Win64="yes">
                <File Id="fil13620EBEA6F6420A02C733F8682CD641" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            
            
            <Component Id="cmp3ED5A0A4D782A8BF371C8403342D615B" Guid="*" Win64="yes">
                <File Id="fil7074B34CCDD7ABC6B6FDB40762FB4CF9" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\MathNet.Numerics.dll" />
            </Component>
            
            <Component Id="cmpF2F1C15A47B64F045101B1AE5B4D6054" Guid="*" Win64="yes">
                <File Id="filC342596B66E98254BB6E1CFFE50AE4AA" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            
            
            <Component Id="cmpBB1767D7C200C536ABB2D361F40F9D92" Guid="*" Win64="yes">
                <File Id="fil4E0F4321F336BF83461A34116F3E30B7" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="cmp702FCD8F941D530EED089ED86491F3AF" Guid="*" Win64="yes">
                <File Id="filAAF0A287D1C4C9A238DFF053ADA2B1C8" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
            
            
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*" Win64="yes">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Newtonsoft.Json.dll" />
            </Component>
            
            
            <Component Id="cmp9867DD01B906E145D73B1AA12191B24D" Guid="*" Win64="yes">
                <File Id="filF3C7E1DBD3AD0BE68A0C0D000EC5A7D6" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\OxyPlot.dll" />
            </Component>
            
            <Component Id="cmp8F4FC608131CDC6A82B59CBB8B203778" Guid="*" Win64="yes">
                <File Id="filE9CE96E94505AA7F35F51DF61E20A061" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\OxyPlot.Wpf.dll" />
            </Component>
            
            <Component Id="cmp59564654D02343646998A8D6A6F0C25F" Guid="*" Win64="yes">
                <File Id="fil86F2842A309A2CABD479166F2B4E0588" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Prism.dll" />
            </Component>
            <Component Id="cmp1D8C6ABF55C2B2B4242EE9F241074EAC" Guid="*" Win64="yes">
                <File Id="fil4D3E845D168B89C1E51082CEE83971C8" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Prism.DryIoc.Wpf.dll" />
            </Component>
            <Component Id="cmpA9A2AB3353E22A8DA16EAAEE63473B2F" Guid="*" Win64="yes">
                <File Id="fil88EDC55735A4B2968B2469EF3EB5D6E7" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Prism.Wpf.dll" />
            </Component>
            
            
            <Component Id="cmp8E100A18327D40D73A207E32DC2A5DF7" Guid="*" Win64="yes">
                <File Id="fil3EB43006AD1D6A442A5059D2602A1B16" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\System.Reactive.dll" />
            </Component>
            
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Guid="*" Win64="yes">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmpC85BD7478E073743A39F17DF06865203" Guid="*" Win64="yes">
                <File Id="fil3DAD59899DDA1B0FCEDF95F84CB3C475" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Xceed.Wpf.Toolkit.dll" />
            </Component>
            <Directory Id="dirED1C7BF395F6825C5E6AA296F629EF5A" Name="HelpTexts">
                <Component Id="cmpEEF8583F33AC9DCDC349C22B5162CEF5" Guid="*" Win64="yes">
                    <File Id="filE1F227BC37167083E8389BD7591F66D3" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\HelpTexts\ChartControls.rtf" />
                </Component>
            </Directory>
            <Directory Id="dirFC3633220FD8334290F4812439E7BC6B" Name="NameMatching">
                <Component Id="cmpDB3C9F13C3E689373E9F99E1C51AE6E5" Guid="*" Win64="yes">
                    <File Id="fil0DAA58FB4BD6C33A6C03C3A4415C92E3" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\NameMatching\ProcessGameNameMatchingList.txt" />
                </Component>
            </Directory>
            <Directory Id="dir97E37B64C7416E419071FFE4F79CA6A4" Name="OverlayConfiguration">
                <Component Id="cmp89C39AB705167646EC022ED93ABECA4F" Guid="*" Win64="yes">
                    <File Id="fil0EDDD2FC35FD4A15396D2B2A4C056BC0" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\OverlayConfiguration\OverlayEntryConfiguration.json" />
                </Component>
            </Directory>
            <Directory Id="dir853772609C50C17748AF70C12E8A0818" Name="PresentMon">
                <Component Id="cmpC9FDA2A63A64022F27649C6DD6729D8D" Guid="*" Win64="yes">
                    <File Id="fil444A50FFAD9F4E0A482DCBC9AE37F9D5" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\PresentMon\PresentMon64-1.5.2.exe" />
                </Component>
                <Component Id="cmp8C1AB07795DAE387F9C0929C8DBCE953" Guid="*" Win64="yes">
                    <File Id="filE4E40086E3260C0A66358D88202CA5FF" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\PresentMon\ProcessIgnoreList.txt" />
                </Component>
            </Directory>
            <Directory Id="dir1450B10CD9213F91984D1913F3B466A5" Name="Sounds">
                <Component Id="cmp3F2F9B6546AE06A5A2BC8225D157AC3C" Guid="*" Win64="yes">
                    <File Id="fil24228021E7FD2FABAD16C57D8D6FD5E7" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Sounds\capture_finished.mp3" />
                </Component>
                <Component Id="cmpDF6DFD99ABED9CCF3316E293E49351AE" Guid="*" Win64="yes">
                    <File Id="fil4353B429C610A2842E55C33C8005A575" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Sounds\capture_started.mp3" />
                </Component>
                <Component Id="cmp3EEE69535363E853D13D17349B078B73" Guid="*" Win64="yes">
                    <File Id="filFC94E5A41715E7322F01FD984C55D332" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Sounds\more_than_one_process.mp3" />
                </Component>
                <Component Id="cmp4DB77BB5B381B587308A20C44B19BB34" Guid="*" Win64="yes">
                    <File Id="fil081380B58D1E01F1C2A4826EA16AF369" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Sounds\no_process.mp3" />
                </Component>
                <Component Id="cmp2B2AD3CDCCA5134FE476F0CC03CF6E31" Guid="*" Win64="yes">
                    <File Id="fil127C69AB83A1138534DD260DCD773CA9" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Sounds\simple_start_sound.mp3" />
                </Component>
                <Component Id="cmp9A52E3FF2E5E6BBC35673A92EC0A3170" Guid="*" Win64="yes">
                    <File Id="fil604A0117FD178B502183C7B25945C2D8" KeyPath="yes" Source="$(var.CapFrameXInstaller.BinaryDir)\Sounds\simple_stop_sound.mp3" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CapFrameXBinaries">
            <ComponentRef Id="cmp8ACAADD5757BD9E933B8004451F42808" />
            
            
            <ComponentRef Id="cmpA4C1EAD31D80CA7A469C61E5F7BF0BE7" />
            
            <ComponentRef Id="cmpBB82F84010B18BD471718A8F5192D809" />
            
            <ComponentRef Id="cmp7C9CAFF9FE2A171191AA280A316C5B90" />
            
            <ComponentRef Id="cmp82AD45B10466B02AA709E58F5BE28DFA" />
            <ComponentRef Id="cmp2E59BC59B11729E95EB8C057C580BD11" />
            <ComponentRef Id="cmp197CCAFDD9C330A4C91CAF35F0619382" />
            
            <ComponentRef Id="cmpC53D77F304B4523D70934DE3AA929A1B" />
            
            <ComponentRef Id="cmp6AE09C2CACB08476BEF8E2E045F01AF5" />
            
            <ComponentRef Id="cmp4A1120ACC7AB1F1C62A70428177CC16C" />
            
            
            
            <ComponentRef Id="cmpDAC9A06508E623C2AE90DDABDC991D5D" />
            
            <ComponentRef Id="cmp458D149F66896C1582130F4DAD13BA4A" />
            
            <ComponentRef Id="cmp0FB30BFBF10002FEB8B1F262B927DE5E" />
            
            <ComponentRef Id="cmpF4AA3050A716E6F54BB951C2FD2122DC" />
            
            <ComponentRef Id="cmp18FAC930D57ECB5DA84BC4EF8F1FF236" />
            
            
            <ComponentRef Id="cmpFEE96F5622FF620341562487C27BDBFE" />
            
            
            <ComponentRef Id="cmp9110E4565D76564E9BC2F34625854902" />
            
            <ComponentRef Id="cmp471A60C7DB0BF5428D9A6BE2EF6D9976" />
            
            <ComponentRef Id="cmpB54AA7145F7DD7C9F4F5BCED9FE3DD87" />
            
            <ComponentRef Id="cmp3A3DCB2CB767F63098FA411AE7BB90A7" />
            
            <ComponentRef Id="cmpFDA802159822E5F335299869D8F57A96" />
            <ComponentRef Id="cmp781EEA928029B571EC5B4E7090BD7946" />
            
            
            <ComponentRef Id="cmp12963553D08F263C4D654B75222572D0" />
            <ComponentRef Id="cmp60805430DA62A620ADC712537D30F06A" />
            
            <ComponentRef Id="cmpB80EB57EF2904D1A74E508B15C150404" />
            
            <ComponentRef Id="cmp223D4754378C01052DA8253A843FD297" />
            
            
            <ComponentRef Id="cmpF79A41B26948F126556619AD15586E53" />
            
            <ComponentRef Id="cmpBDFFFC10BC54483342036800228711F3" />
            <ComponentRef Id="cmp6D59DB1C8695088F09FD7F0B07ECD487" />
            
            
            <ComponentRef Id="cmp3ED5A0A4D782A8BF371C8403342D615B" />
            
            <ComponentRef Id="cmpF2F1C15A47B64F045101B1AE5B4D6054" />
            
            
            <ComponentRef Id="cmpBB1767D7C200C536ABB2D361F40F9D92" />
            <ComponentRef Id="cmp702FCD8F941D530EED089ED86491F3AF" />
            
            
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            
            
            <ComponentRef Id="cmp9867DD01B906E145D73B1AA12191B24D" />
            
            <ComponentRef Id="cmp8F4FC608131CDC6A82B59CBB8B203778" />
            
            <ComponentRef Id="cmp59564654D02343646998A8D6A6F0C25F" />
            <ComponentRef Id="cmp1D8C6ABF55C2B2B4242EE9F241074EAC" />
            <ComponentRef Id="cmpA9A2AB3353E22A8DA16EAAEE63473B2F" />
            
            
            <ComponentRef Id="cmp8E100A18327D40D73A207E32DC2A5DF7" />
            
            <ComponentRef Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" />
            <ComponentRef Id="cmpC85BD7478E073743A39F17DF06865203" />
            <ComponentRef Id="cmpEEF8583F33AC9DCDC349C22B5162CEF5" />
            <ComponentRef Id="cmpDB3C9F13C3E689373E9F99E1C51AE6E5" />
            <ComponentRef Id="cmp89C39AB705167646EC022ED93ABECA4F" />
            <ComponentRef Id="cmpC9FDA2A63A64022F27649C6DD6729D8D" />
            <ComponentRef Id="cmp8C1AB07795DAE387F9C0929C8DBCE953" />
            <ComponentRef Id="cmp3F2F9B6546AE06A5A2BC8225D157AC3C" />
            <ComponentRef Id="cmpDF6DFD99ABED9CCF3316E293E49351AE" />
            <ComponentRef Id="cmp3EEE69535363E853D13D17349B078B73" />
            <ComponentRef Id="cmp4DB77BB5B381B587308A20C44B19BB34" />
            <ComponentRef Id="cmp2B2AD3CDCCA5134FE476F0CC03CF6E31" />
            <ComponentRef Id="cmp9A52E3FF2E5E6BBC35673A92EC0A3170" />
        </ComponentGroup>
    </Fragment>
</Wix>