<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define VersionNumber="!(bind.FileVersion.fil728C156E08C89BB8D6F48ADCA3FDB05E)" ?>
	<Product Id="*" Name="Open Capture and Analytics Tool (CapFrameX) $(var.VersionNumber)" Language="1033" Version="$(var.VersionNumber)" Manufacturer="DevTechProfile" UpgradeCode="05dc3ab5-bc82-4feb-8624-61c39d0ac204">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="x64"/>

		<!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
		<MajorUpgrade AllowDowngrades="yes"/>
		<Media Id="1" Cabinet="CapFrameX.cab" EmbedCab="yes" CompressionLevel="high" />		

		<Feature Id="ProductFeature" Title="CapFrameX" Level="1">
			<ComponentGroupRef Id="CapFrameXBinaries" />
			<ComponentRef Id="ApplicationShortcut"/>
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="CapFrameX" />
				<Directory Id="BINFOLDER" Name="Bin"/>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="CapFrameX"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop"></Directory>
		</Directory>
		
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="*" Win64="yes">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="CapFrameX"
						  Description="Open Capture and Analytics Tool"
						  Target="[INSTALLFOLDER]\CapFrameX.exe"
						  WorkingDirectory="INSTALLFOLDER">
					<Icon Id="StartMenuShortcutIconID" SourceFile="..\CapFrameX\Icons\cx_icon_BUC_icon.ico"></Icon>
				</Shortcut>			
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKMU" Key="Software\CapFrameX" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
				<RegistryValue Root="HKMU" Key="Software\CapFrameX" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="*">
				<Shortcut Id="ApplicationDesktopShortcut" Name="CapFrameX" Description="Open Capture and Analytics Tool" Target="[INSTALLFOLDER]\CapFrameX.exe" WorkingDirectory="INSTALLFOLDER">
					<Icon Id="ShortcutDesktopIconID" SourceFile="..\CapFrameX\Icons\cx_icon_BUC_icon.ico"></Icon>
				</Shortcut>
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\CapFrameX" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
