<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc" version="4.1.0" targetFramework="net472" />
  <package id="DryIoc.dll" version="2.12.10" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net472" />
  <package id="Serilog" version="2.9.0" targetFramework="net472" />
  <package id="Serilog.Extensions.Logging" version="3.0.1" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net472" />
</packages>