<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?define VersionNumber="!(bind.FileVersion.fil728C156E08C89BB8D6F48ADCA3FDB05E)" ?>
  <Product Id="*" Name="CapFrameX Capture and Analysis Tool $(var.VersionNumber)" Language="1033" Version="$(var.VersionNumber)" Manufacturer="DevTechProfile" UpgradeCode="05dc3ab5-bc82-4feb-8624-61c39d0ac204">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="x64"/>

		<!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
		<MajorUpgrade AllowDowngrades="yes"/>
		<Media Id="1" Cabinet="CapFrameX.cab" EmbedCab="yes" CompressionLevel="high" />		

		<Feature Id="ProductFeature" Title="CapFrameX" Level="1">
			<ComponentGroupRef Id="CapFrameXBinaries" />
			<ComponentRef Id="ApplicationShortcut"/>
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>

    <Property Id="INSTALLSHORTCUT" Value="1" Secure="yes"/>

    <InstallExecuteSequence>
		  <Custom Action="WixCloseApplications" Before="InstallValidate">
			  Installed
		  </Custom>
      <Custom Action="ResourceManagement" Before="InstallFinalize">
        NOT Installed
      </Custom>
		  <Custom Action="CleanRegistry" Before="InstallFinalize">
        Installed OR NOT Installed
      </Custom>
      <Custom Action="AppdataConfigFiles" Before="InstallFinalize">
        Installed
      </Custom>
	  </InstallExecuteSequence>

	  <util:CloseApplication Id="CloseCapFrameX" Target="CapFrameX.exe"
							 CloseMessage="yes" RebootPrompt="no">
		  Installed
	  </util:CloseApplication>
	</Product>

  <Fragment>
    <CustomAction Id="AppdataConfigFiles" BinaryKey="CapFrameX.CustomInstallerActions.CA.dll" DllEntry="RemoveAppdataConfigFiles" Execute="immediate" Return="check"/>
  </Fragment>

  <Fragment>
    <CustomAction Id="CleanRegistry" BinaryKey="CapFrameX.CustomInstallerActions.CA.dll" DllEntry="RemoveAutoStartKey" Execute="immediate" Return="check"/>		
	</Fragment>
  
  <Fragment>
    <CustomAction Id="ResourceManagement" BinaryKey="CapFrameX.CustomInstallerActions.CA.dll" DllEntry="CopyConfigResources" Execute="immediate" Return="check"/>
  </Fragment>
  
  <Fragment>
    <Binary Id="CapFrameX.CustomInstallerActions.CA.dll" SourceFile="$(var.CapFrameX.CustomInstallerActions.TargetDir)$(var.CapFrameX.CustomInstallerActions.TargetName).CA.dll" />
  </Fragment>

  <!--https://stackoverflow.com/questions/4658220/create-shortcut-checkbox-->
  <!--<Fragment>
    <UI>
      <Dialog Id="InstallDirAndOptionalShortcutDlg">
        <Control Id="InstallShortcutCheckbox" Type="CheckBox"
                 X="20" Y="140" Width="200" Height="17"
                 Property="INSTALLSHORTCUT" CheckBoxValue="1"
                 Text="Do you want to create a start menu shortcut?" />
      </Dialog>
    </UI>
  </Fragment>-->
	
	<Fragment>		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="CapFrameX" />
				<Directory Id="BINFOLDER" Name="Bin"/>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="CapFrameX"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop"></Directory>
		</Directory>
		
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="*" Win64="yes">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="CapFrameX"
						  Description="CapFrameX Capture and Analysis Tool"
						  Target="[INSTALLFOLDER]\CapFrameX.exe"
						  WorkingDirectory="INSTALLFOLDER">
					<Icon Id="StartMenuShortcutIconID" SourceFile="..\CapFrameX\Icons\cx_icon_BUC.ico"></Icon>
				</Shortcut>			
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKMU" Key="Software\CapFrameX" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
				<RegistryValue Root="HKMU" Key="Software\CapFrameX" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="*">
        <Condition>INSTALLSHORTCUT="1"</Condition>
				<Shortcut Id="ApplicationDesktopShortcut" Name="CapFrameX" Description="Open Capture and Analytics Tool" Target="[INSTALLFOLDER]\CapFrameX.exe" WorkingDirectory="INSTALLFOLDER">
					<Icon Id="ShortcutDesktopIconID" SourceFile="..\CapFrameX\Icons\cx_icon_BUC.ico"></Icon>
				</Shortcut>
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\CapFrameX" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
